.login-container {
  display: flex;
  height: 650px;
  font-family: Arial, sans-serif;
}

.login-left {
  flex: 1;
  background: #f7f9fc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-left img {
  width: 70%;
  max-width: 400px;
}

.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

.logo {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.login-right input {
  width: 564px;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: 1px solid #ddd;
}

.login-right button {
  width: 100%;
  padding: 14px;
  background: #5b5be0;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}
